@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background: #F1F1EB;
	font-family: "Montserrat", sans-serif;
	
}


header{
	font-size: 0.8rem;
}

nav {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	top: 0;
	z-index: 6;
}

.navbar-toggler {	
	box-shadow: white 2px 2px 5px;
	z-index: 5;
}


.containers li, .mapa, .icon {
display: none;
}

.containers h1 {
	color: white;
	margin-left: 3%;
	padding-bottom: 12%;
	font-weight: 600;
	text-shadow: #212020 1px 0 10px;
}

.navFondo {
	background: #bc4b51;
	position: fixed;
	height: 4em;
	width: 100%;
	top: 0;
	z-index: 2;
}

.offcanvas-body, .offcanvas-header {
	background-color: #bc4b51;
}

.header {
	width: 100%;
}

.header__inicio {
	height: 520px;
	 background-position: center; 
  background-size: cover; 
	position: relative;
	background-color: #7c562b;
	padding: 15em 0 8em;
	z-index: 3;
	background-image: url(../fotos/1.jpg);
}

.header__precios {
	height: 520px;
	padding: 14em 0 8em;
	
	 background-position: center; 
  background-size: cover; 
	position: relative;
	background-color: #7c562b;
	z-index: 3;
	background-image: url(../Fotos/2.jpg);
}

.header__contacto {
	height: 520px;
	padding: 15em 0 8em;
	
	 background-position: center; 
  background-size: cover; 
	position: relative;
	background-color: #7c562b;
	z-index: 3;
	background-image: url(../Fotos/3.jpg);
}

.header__pedido {
	height: 520px;
	 background-position: center; 
  background-size: cover; 
	padding: 15em 0 8em;
	position: relative;
	background-color: #7c562b;
	z-index: 3;
	background-image: url(../Fotos/4.jpg);
}

.header__nosotros {
	height: 520px;
	 background-position: center; 
  background-size: cover; 
	padding: 15em 0 8em;
	position: relative;
	background-color: #7c562b;
	z-index: 3;
	background-image: url(../Fotos/5.jpg);
}


.letterpress {
  text-shadow: 1px 2px 3px #DDEEFF,
               0 0 0 black,
               -1px 1px 0 #DDEEFF,
               1px 1px 0 white;

  color: rgba(254, 103, 2, .8);
  letter-spacing: -5px;
  font-size: 3em;
  width: 100%;
  text-align: center;
  font-weight: bold; 
}

.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.21, 0.99, 0, 0.95);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
  
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  height: 230px;
  display: flex;
  display: inline-block;
  width: 100%;
}
.front {
  background: #EEEEE8;
   text-align: center;
   min-height: 230px;

}
.back {
  background-color: #212020;
  min-height: 230px;

}


.flip > .front,
.flip > .back {
  color: white;
  width: 100%;
  padding: 1em 2em;
  border-radius: 3px;
  
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #eff0e9;
}


.text-shadow {
  line-height:160px;
  display: inline-block;
  font-size: calc(1.325rem + .9vw);
  color: #ff595e;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.container, .card-body {
  border: none;
  width: 100%;
  padding:0;
}

.carousel-item {
    height: 22rem;
}

.carousel-1{
    background: url("https://images.unsplash.com/photo-1619926096619-5956ab4dfb1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80") no-repeat center center/cover;
}

.carousel-2{
    background: url("https://images.unsplash.com/photo-1646314230198-e27c375e1a2a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")no-repeat center center/cover;
}

.carousel-3{
    background: url("https://images.unsplash.com/photo-1634069564622-99a828554a02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=863&q=80") no-repeat center center/cover;
}



footer {
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 210px;
	background-color: #31393c;
	margin-top: 5%;
	align-items: center;
	justify-content: center;
	bottom: 0;
	padding-top: 30px;
}

footer p {
	color: #9ba1a9;
	display: inline-block;
	width: 45%;
	text-align: center;
	justify-content: center;
}

form {
	padding: 4%;
}

label {
	font-size: 0.8rem;
}


@media  screen and (min-width: 768px ) {
 legend {
	font-weight: 600;
 }
	.containers h1 {
	color: white;
	margin-left: 0;
	font-weight: 100;
	text-shadow: none;
	    font-size: 3.2em;
    text-transform: uppercase;
    text-align: center;
}

.header-pc {
	background-position: auto; 
  background-size:auto; 
	margin: auto;
	position: relative;
	background-color: #7c562b;
	z-index: 4;
}

}

@media  screen and (min-width: 992px ) {

	.navbar {
display: none;
	}

.header-pc {
	background-position: auto; 
  background-size:auto; 
	padding: 10em 0 8em;
	position: relative;
	background-color: #7c562b;
	z-index: 4;
}
.containers h1 {
	  font-size: 4em;
	padding-bottom: 10%;}

.mapa {
	width: 95%;
	display: block;
	margin: auto;
border: 9px solid white;
transform: translate(0, -15%);
}
.letterpress {
	font-size: 1.9rem;
	z-index: 1;
	position: relative;
	
}

.containers li {
display: inline-block;

	padding: 1.33em;
	text-align: center;
	transition: all 0.2s;
}
  .dropdown-menu{
    display: none;
  }
  .containers {
	display: block;
	max-width: 60em;
	min-width: 45em;
	margin: 0 auto;
	padding: 0 2em;
}

.carousel-item {
    height: 18rem;
}

img {
	width: 100%;
	height: 100%;
}

nav {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	top: 0;
	z-index: 7;
}
nav ul {
	top: 0;
	margin: 0;
	list-style-type: none;
	float: right;
	z-index: 3;
}
nav li:last-child {
	padding-right: 0;
}
nav a {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}
nav a:hover {
	color: #ddd;
}

.card {
	margin: 3%;
}

.navbar {
  padding: 0;
  
}

.navbar-brand {
  display: none;
}

.icon {
	padding-top: 5px;
	width: 7.8%;
	display: inline-block;
}

nav li:last-child {
	padding-right: 0;
}
nav a {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}
nav a:hover {
	color: #ddd;
}

.navFondo {
	background: #bc4b51;
	position: fixed;
	height: 4em;
	width: 100%;
	top: 0;
	z-index: 3;
}


    .cards {
display: grid;
grid-template-columns: 65% 35%;
grid-template-rows: 45% 65%;
}

.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 1 / 1 / 3 / 2; }


.flip {
  margin:2%;
  height: 40%;
  width: 45%;
  display: flex;
  display: inline-block;
    border-radius: 4px;
    box-shadow: rgb(14 21 47 / 20%) 0px 8px 20px;
}
.front{
	width: 45%;
	height: 40%;
  text-align: center;
  align-content: center;
  justify-items: center;
}

.back {
	width: 45%;
	height: 40%;
	
	
}
.text-shadow {
  font-weight: 500;
  line-height:290px;
  font-size: 1.2rem;
}

.back {
  text-align: center;
  justify-content: center;
}
  .back h2 {
	padding-top: 10%;
font-size: 1.7rem;
}
footer {
	padding: 0;
}

footer p {
	width: 33%;
	
}
}



@media screen and (min-width: 1200px) {
	.text-shadow {
  font-size: 1.7rem;
}
}